@using CommonLayer


@model DataLayer.LoginIndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Forgot Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- Styles -->
    <link href="~/Content/css/forgot.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <div class="forgot-password">
        <div class="forgot-nav">
            <ul class="list-unstyled ">
                <li class="pull-left"><a href="#"><img src="../../Content/images/logo.png" alt=""></a></li>
            </ul>
        </div>
        <!-- forgot-nav -->
        <div class="forgot-content">
            <div class="container">
                <div class="forgot-info ">
                    <h4>Forgot Your Password?</h4>
                    <p>Enter your email address and we&#39;ll send you a link to reset your password</p>
                    @using (Html.BeginForm(ActionName.ValidateUser, ControllerName.Login, FormMethod.Post, new { @encType = "multipart/form-data", @autocomplete = "off" }))
                    {
                        <div class="form-group ">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Email" })
                                    <span class="input-group-addon"><i class=" fa fa-envelope "></i></span>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-default">Send Link</button>
                         <h5><a href="@CommonHelper.CreateURL(ActionName.UserLogin, ControllerName.Login)" target="_blank">Login</a></h5>
                    }

                </div>
                <!-- forgot-info -->
            </div>
        </div>
        <!-- forgot-content -->
        <div class="footer ">
            <p class="pull-left list-unstyled">Copyright &copy; <strong> Indore Aluminium</strong>-all rights reserved</p>
        </div>
    </div>
</body>
</html>
